GetYouTubeVideoStats.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "GetYouTubeVideoStats",
            "type":  "string"
        }
    },
    "variables":  {
        "AzureloganalyticsdatacollectorConnectionName":  "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]",
        "AzuremonitorlogsConnectionName":  "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Comment_Parser_-_Leave_blank":  {
                            "runAfter":  {
                                "Set_required_YouTube_API_Key":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "CommentParser",
                                        "type":  "string"
                                    }
                                ]
                            }
                        },
                        "For_each_Video":  {
                            "foreach":  "@body('Query_the_Video_IDs_collected_by_the_Playlist_logic_app')?['value']",
                            "actions":  {
                                "HTTP_-_Get_the_comments_for_each_video,_default_20,_up_to_100_max":  {
                                    "runAfter":  {
                                        "Send_details_to_the_workspace":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "method":  "GET",
                                        "uri":  "https://youtube.googleapis.com/youtube/v3/commentThreads?part=snippet%2Creplies\u0026maxResults=20\u0026videoId=@{items('For_each_Video')?['videoid_s']}\u0026key=@{variables('APIKEY')}"
                                    }
                                },
                                "HTTP_-_Get_the_video_details":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "method":  "GET",
                                        "uri":  "https://youtube.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics\u0026id=@{items('For_each_Video')?['videoid_s']}\u0026key=@{variables('APIKEY')}"
                                    }
                                },
                                "Parse_JSON_from_video_comments":  {
                                    "runAfter":  {
                                        "HTTP_-_Get_the_comments_for_each_video,_default_20,_up_to_100_max":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('HTTP_-_Get_the_comments_for_each_video,_default_20,_up_to_100_max')",
                                        "schema":  {
                                            "properties":  {
                                                "etag":  {
                                                    "type":  "string"
                                                },
                                                "items":  {
                                                    "items":  {
                                                        "properties":  {
                                                            "etag":  {
                                                                "type":  "string"
                                                            },
                                                            "id":  {
                                                                "type":  "string"
                                                            },
                                                            "kind":  {
                                                                "type":  "string"
                                                            },
                                                            "snippet":  {
                                                                "properties":  {
                                                                    "canReply":  {
                                                                        "type":  "boolean"
                                                                    },
                                                                    "isPublic":  {
                                                                        "type":  "boolean"
                                                                    },
                                                                    "topLevelComment":  {
                                                                        "properties":  {
                                                                            "etag":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "id":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "kind":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "snippet":  {
                                                                                "properties":  {
                                                                                    "authorChannelId":  {
                                                                                        "properties":  {
                                                                                            "value":  {
                                                                                                "type":  "string"
                                                                                            }
                                                                                        },
                                                                                        "type":  "object"
                                                                                    },
                                                                                    "authorChannelUrl":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "authorDisplayName":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "authorProfileImageUrl":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "canRate":  {
                                                                                        "type":  "boolean"
                                                                                    },
                                                                                    "likeCount":  {
                                                                                        "type":  "integer"
                                                                                    },
                                                                                    "publishedAt":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "textDisplay":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "textOriginal":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "updatedAt":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "videoId":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "viewerRating":  {
                                                                                        "type":  "string"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "totalReplyCount":  {
                                                                        "type":  "integer"
                                                                    },
                                                                    "videoId":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "type":  "object"
                                                            }
                                                        },
                                                        "required":  [
                                                            "kind",
                                                            "etag",
                                                            "id",
                                                            "snippet"
                                                        ],
                                                        "type":  "object"
                                                    },
                                                    "type":  "array"
                                                },
                                                "kind":  {
                                                    "type":  "string"
                                                },
                                                "pageInfo":  {
                                                    "properties":  {
                                                        "resultsPerPage":  {
                                                            "type":  "integer"
                                                        },
                                                        "totalResults":  {
                                                            "type":  "integer"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Parse_JSON_from_video_stats":  {
                                    "runAfter":  {
                                        "HTTP_-_Get_the_video_details":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('HTTP_-_Get_the_video_details')",
                                        "schema":  {
                                            "properties":  {
                                                "etag":  {
                                                    "type":  "string"
                                                },
                                                "items":  {
                                                    "items":  {
                                                        "properties":  {
                                                            "contentDetails":  {
                                                                "properties":  {
                                                                    "caption":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "contentRating":  {
                                                                        "properties":  {
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "definition":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "dimension":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "duration":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "licensedContent":  {
                                                                        "type":  "boolean"
                                                                    },
                                                                    "projection":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "type":  "object"
                                                            },
                                                            "etag":  {
                                                                "type":  "string"
                                                            },
                                                            "id":  {
                                                                "type":  "string"
                                                            },
                                                            "kind":  {
                                                                "type":  "string"
                                                            },
                                                            "snippet":  {
                                                                "properties":  {
                                                                    "categoryId":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "channelId":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "channelTitle":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "defaultAudioLanguage":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "defaultLanguage":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "description":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "liveBroadcastContent":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "localized":  {
                                                                        "properties":  {
                                                                            "description":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "title":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "publishedAt":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "tags":  {
                                                                        "items":  {
                                                                            "type":  "string"
                                                                        },
                                                                        "type":  "array"
                                                                    },
                                                                    "thumbnails":  {
                                                                        "properties":  {
                                                                            "default":  {
                                                                                "properties":  {
                                                                                    "height":  {
                                                                                        "type":  "integer"
                                                                                    },
                                                                                    "url":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "width":  {
                                                                                        "type":  "integer"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "high":  {
                                                                                "properties":  {
                                                                                    "height":  {
                                                                                        "type":  "integer"
                                                                                    },
                                                                                    "url":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "width":  {
                                                                                        "type":  "integer"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "maxres":  {
                                                                                "properties":  {
                                                                                    "height":  {
                                                                                        "type":  "integer"
                                                                                    },
                                                                                    "url":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "width":  {
                                                                                        "type":  "integer"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "medium":  {
                                                                                "properties":  {
                                                                                    "height":  {
                                                                                        "type":  "integer"
                                                                                    },
                                                                                    "url":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "width":  {
                                                                                        "type":  "integer"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "standard":  {
                                                                                "properties":  {
                                                                                    "height":  {
                                                                                        "type":  "integer"
                                                                                    },
                                                                                    "url":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "width":  {
                                                                                        "type":  "integer"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "title":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "type":  "object"
                                                            },
                                                            "statistics":  {
                                                                "properties":  {
                                                                    "commentCount":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "favoriteCount":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "likeCount":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "viewCount":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "type":  "object"
                                                            }
                                                        },
                                                        "required":  [
                                                            "kind",
                                                            "etag",
                                                            "id",
                                                            "snippet",
                                                            "contentDetails",
                                                            "statistics"
                                                        ],
                                                        "type":  "object"
                                                    },
                                                    "type":  "array"
                                                },
                                                "kind":  {
                                                    "type":  "string"
                                                },
                                                "pageInfo":  {
                                                    "properties":  {
                                                        "resultsPerPage":  {
                                                            "type":  "integer"
                                                        },
                                                        "totalResults":  {
                                                            "type":  "integer"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Send_comments_to_the_workspace":  {
                                    "foreach":  "@body('Parse_JSON_from_video_comments')?['items']",
                                    "actions":  {
                                        "Compose":  {
                                            "runAfter":  {
                                                "Pase_to_allow_comment_URLs":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "Compose",
                                            "inputs":  "@replace(variables('CommentParser'), '\"', '')"
                                        },
                                        "Pase_to_allow_comment_URLs":  {
                                            "runAfter":  {
                                            },
                                            "type":  "SetVariable",
                                            "inputs":  {
                                                "name":  "CommentParser",
                                                "value":  "@items('Send_comments_to_the_workspace')?['snippet']?['topLevelComment']?['snippet']?['textDisplay']"
                                            }
                                        },
                                        "Send_Data_to_YouTubeVideoComments_CL":  {
                                            "runAfter":  {
                                                "Compose":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  "{\n  \"id\": \"@{items('Send_comments_to_the_workspace')?['id']}\",\n  \"videoID\": \"@{items('Send_comments_to_the_workspace')?['snippet']?['videoId']}\",\n  \"textDisplay\": \"@{outputs('Compose')}\",\n  \"author\": \"@{items('Send_comments_to_the_workspace')?['snippet']?['topLevelComment']?['snippet']?['authorDisplayName']}\",\n  \"authorChannelUrl\": \"@{items('Send_comments_to_the_workspace')?['snippet']?['topLevelComment']?['snippet']?['authorChannelUrl']}\",\n  \"publishedAt\": \"@{items('Send_comments_to_the_workspace')?['snippet']?['topLevelComment']?['snippet']?['publishedAt']}\"\n}",
                                                "headers":  {
                                                    "Log-Type":  "YouTubeVideoComments"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/api/logs"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Parse_JSON_from_video_comments":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Foreach"
                                },
                                "Send_details_to_the_workspace":  {
                                    "foreach":  "@body('Parse_JSON_from_video_stats')?['items']",
                                    "actions":  {
                                        "Send_video_details_to_YouTubeVideoStats":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  "{\n  \"etag\": \"@{body('Parse_JSON_from_video_stats')?['etag']}\",\n  \"id\": \"@{items('Send_details_to_the_workspace')?['id']}\",\n  \"publishedAt\": \"@{items('Send_details_to_the_workspace')?['snippet']?['publishedAt']}\",\n  \"channelTitle\": \"@{items('Send_details_to_the_workspace')?['snippet']?['channelTitle']}\",\n  \"channelId\": \"@{items('Send_details_to_the_workspace')?['snippet']?['channelId']}\",\n  \"title\": \"@{items('Send_details_to_the_workspace')?['snippet']?['localized']?['title']}\",\n  \"VideoUrl\": \"https://youtu.be/@{items('Send_details_to_the_workspace')?['id']}\",\n  \"ImageUrl\": \"@{items('Send_details_to_the_workspace')?['snippet']?['thumbnails']?['default']?['url']}\",\n  \"tags\": @{items('Send_details_to_the_workspace')?['snippet']?['tags']},\n  \"categoryId\": \"@{items('Send_details_to_the_workspace')?['snippet']?['categoryId']}\",\n  \"liveBroadcastContent\": \"@{items('Send_details_to_the_workspace')?['snippet']?['liveBroadcastContent']}\",\n  \"defaultLanguage\": \"@{items('Send_details_to_the_workspace')?['snippet']?['defaultAudioLanguage']}\",\n  \"duration\": \"@{items('Send_details_to_the_workspace')?['contentDetails']?['duration']}\",\n  \"dimension\": \"@{items('Send_details_to_the_workspace')?['contentDetails']?['dimension']}\",\n  \"definition\": \"@{items('Send_details_to_the_workspace')?['contentDetails']?['definition']}\",\n  \"caption\": \"@{items('Send_details_to_the_workspace')?['contentDetails']?['caption']}\",\n  \"licensedContent\": \"@{items('Send_details_to_the_workspace')?['contentDetails']?['licensedContent']}\",\n  \"contentRating\": @{items('Send_details_to_the_workspace')?['contentDetails']?['contentRating']},\n  \"projection\": \"@{items('Send_details_to_the_workspace')?['contentDetails']?['projection']}\",\n  \"viewCount\": @{items('Send_details_to_the_workspace')?['statistics']?['viewCount']},\n  \"likeCount\": @{items('Send_details_to_the_workspace')?['statistics']?['likeCount']},\n  \"favoriteCount\": @{items('Send_details_to_the_workspace')?['statistics']?['favoriteCount']},\n  \"commentCount\": @{items('Send_details_to_the_workspace')?['statistics']?['commentCount']}\n}",
                                                "headers":  {
                                                    "Log-Type":  "YouTubeVideoStats"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/api/logs"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Parse_JSON_from_video_stats":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Foreach"
                                }
                            },
                            "runAfter":  {
                                "Query_the_Video_IDs_collected_by_the_Playlist_logic_app":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Query_the_Video_IDs_collected_by_the_Playlist_logic_app":  {
                            "runAfter":  {
                                "Comment_Parser_-_Leave_blank":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "YouTubePlaylistDetails_CL\n| summarize arg_max(TimeGenerated, *) by videoid_s\n| project videoid_s",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/queryData",
                                "queries":  {
                                    "resourcegroups":  "",
                                    "resourcename":  "",
                                    "resourcetype":  "",
                                    "subscriptions":  "",
                                    "timerange":  "Last 24 hours"
                                }
                            }
                        },
                        "Set_required_YouTube_API_Key":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "APIKEY",
                                        "type":  "string",
                                        "value":  ""
                                    }
                                ]
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azureloganalyticsdatacollector":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                            },
                            "azuremonitorlogs":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName":  "[variables('AzuremonitorlogsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "GetYouTubeVideoStats",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzuremonitorlogsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        }
    ]
}
